# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore build artifacts
dist/
build/

# Python cache files
*.pyc
__pycache__/

# Django specific
db.sqlite3
media/

# Ignore migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# Ignore specific settings file usually used for production
*settings/prod.py

# IDE specific
.idea/
.vscode/
*.swp
*~
.DS_Store
